

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background: #333;
  color: #fff;
  line-height: 1.6;
}

.slider {
  position: relative;
  overflow: hidden;
  height: 100vh;
  width: 100vw;
}

.slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 0.4s ease-in-out;
}

.slide.current {
  opacity: 1;
}

.slide .content {
  position: absolute;
  bottom: 70px;
  left: -600px;
  opacity: 0;
  width: 600px;
  background-color: rgba(8,16,16,.8);
  color: white;
  padding: 35px;
 
}

.slide .content h1 {
  margin-bottom: 10px;
}

.slide.current .content {
  opacity: 1;
  transform: translateX(600px);
  transition: all 0.7s ease-in-out 0.3s;
}

.buttons button#next {
  position: absolute;
  top: 40%;
  right: 15px;
}

.buttons button#prev {
  position: absolute;
  top: 40%;
  left: 15px;
}

.buttons button {
  border: 2px solid #fff;
  background-color: transparent;
  color: #fff;
  cursor: pointer;
  padding: 13px 15px;
  border-radius: 50%;
  outline: none;
}

.buttons button:hover {
  background-color: #fff;
  color: #333;
}

@media (max-width: 500px) {
  .slide .content {
    bottom: -300px;
    left: 0;
    width: 100%;
  }

  .slide.current .content {
    transform: translateY(-300px);
  }
  

  
}



/* Backgorund Images */
 

.slide:first-child {
  background: url('img/1.jpg') no-repeat
    center top/cover;
}

.slide:nth-child(2) {
  background: url('img/2.jpg') no-repeat
    center top/cover;
}
.slide:nth-child(3) {
  background: url('img/3.jpg') no-repeat
    center top/cover;
}
.slide:nth-child(4) {
  background: url('img/4.jpg') no-repeat
    center top/cover;
}
.slide:nth-child(5) {
  background: url('img/5.jpg') no-repeat
    center top/cover;
} 
.slide:nth-child(6)  {
  background: url('img/6.jpg') no-repeat
    center center/cover;
}
.slide:nth-child(7) {
  background: url('img/7.jpg') no-repeat
    center top/cover;
}
.slide:nth-child(8) {
  background: url('img/8.jpg') no-repeat
    center top/cover;
} 
.slide:nth-child(9)  {
  background: url('img/9.jpg') no-repeat
    center center/cover;
}

.slide:nth-child(10) {
  background: url('img/10.jpg') no-repeat
    center top/cover;
}
.slide:nth-child(11) {
  background: url('img/11.jpg') no-repeat
    center top/cover;
}
.slide:nth-child(12) {
  background: url('img/12.jpg') no-repeat
    center top/cover;
}
.slide:nth-child(13) {
  background: url('img/13.jpg') no-repeat
    center top/cover;
} 
.slide:nth-child(14)  {
  background: url('img/14.jpg') no-repeat
    center center/cover;
}
.slide:nth-child(15) {
  background: url('img/15.jpg') no-repeat
    center top/cover;
}
.slide:nth-child(16) {
  background: url('img/16.jpg') no-repeat
    center top/cover;
} 
.slide:nth-child(17)  {
  background: url('img/17.jpg') no-repeat
    center center/cover;
}

.slide:nth-child(18)  {
  background: url('img/18.jpg') no-repeat
    center center/cover;
}
.slide:nth-child(19) {
  background: url('img/19.jpg') no-repeat
    center top/cover;
}
.slide:nth-child(20) {
  background: url('img/20.jpg') no-repeat
    center top/cover;
} 
.slide:nth-child(21)  {
  background: url('img/21.jpg') no-repeat
    center center/cover;
}

.slide:nth-child(22)  {
  background: url('img/22.jpg') no-repeat
    center center/cover;
}

