

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background: #333;
  color: #fff;
  line-height: 1.6;
}

.slider {
  position: relative;
  overflow: hidden;
  height: 100vh;
  width: 100vw;
}

.slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 0.4s ease-in-out;
}

.slide.current {
  opacity: 1;
}

.slide .content {
  position: absolute;
  bottom: 70px;
  left: -600px;
  opacity: 0;
  width: 600px;
  background-color: rgba(8,16,16,.8);
  color: white;
  padding: 35px;
 
}

.slide .content h1 {
  margin-bottom: 10px;
}

.slide.current .content {
  opacity: 1;
  transform: translateX(600px);
  transition: all 0.7s ease-in-out 0.3s;
}

.buttons button#next {
  position: absolute;
  top: 40%;
  right: 15px;
}

.buttons button#prev {
  position: absolute;
  top: 40%;
  left: 15px;
}

.buttons button {
  border: 2px solid #fff;
  background-color: transparent;
  color: #fff;
  cursor: pointer;
  padding: 13px 15px;
  border-radius: 50%;
  outline: none;
}

.buttons button:hover {
  background-color: #fff;
  color: #333;
}

@media (max-width: 500px) {
  .slide .content {
    bottom: -300px;
    left: 0;
    width: 100%;
  }

  .slide.current .content {
    transform: translateY(-300px);
  }
  

  
}



/* Backgorund Images */
 

.slide:first-child {
  background: url('img/ai1.jpg') no-repeat
    center top/cover;
}

.slide:nth-child(2) {
  background: url('img/ai2.jpg') no-repeat
    center top/cover;
}
.slide:nth-child(3) {
  background: url('img/ai3.jpg') no-repeat
    center top/cover;
}
.slide:nth-child(4) {
  background: url('img/ai4.jpg') no-repeat
    center top/cover;
}
.slide:nth-child(5) {
  background: url('img/ai5.jpg') no-repeat
    center top/cover;
} 
.slide:nth-child(6)  {
  background: url('img/ai6.jpg') no-repeat
    center center/cover;
}
.slide:nth-child(7)  {
  background: url('img/ai7.jpg') no-repeat
    center center/cover;
}
.slide:nth-child(8) {
  background: url('img/ai8.jpg') no-repeat
    center top/cover;
}

.slide:nth-child(9) {
  background: url('img/ai9.jpg') no-repeat
    center top/cover;
}
.slide:nth-child(10) {
  background: url('img/ai10.jpg') no-repeat
    center top/cover;
}
.slide:nth-child(11) {
  background: url('img/ai11.jpg') no-repeat
    center top/cover;
}
.slide:nth-child(12) {
  background: url('img/ai12.jpg') no-repeat
    center top/cover;
} 
.slide:nth-child(13)  {
  background: url('img/ai13.jpg') no-repeat
    center center/cover;
}
.slide:nth-child(14)  {
  background: url('img/ai14.jpg') no-repeat
    center center/cover;
}
.slide:nth-child(15) {
  background: url('img/ai15.jpg') no-repeat
    center top/cover;
}

.slide:nth-child(16) {
  background: url('img/ai16.jpg') no-repeat
    center top/cover;
}
.slide:nth-child(17) {
  background: url('img/ai17.jpg') no-repeat
    center top/cover;
}
.slide:nth-child(18) {
  background: url('img/ai18.jpg') no-repeat
    center top/cover;
}
.slide:nth-child(19) {
  background: url('img/ai19.jpg') no-repeat
    center top/cover;
} 
.slide:nth-child(20)  {
  background: url('img/ai20.jpg') no-repeat
    center center/cover;
}
.slide:nth-child(21)  {
  background: url('img/ai21.jpg') no-repeat
    center center/cover;
}
.slide:nth-child(22){
  background: url('img/ai22.jpg') no-repeat
    center top/cover;
}

.slide:nth-child(23) {
  background: url('img/ai23.jpg') no-repeat
    center top/cover;
}
.slide:nth-child(24) {
  background: url('img/ai24.jpg') no-repeat
    center top/cover;
}



