body{
	font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	color:rgba(0,0,0,.8);
	background:linear-gradient(to left,BlanchedAlmond,Cornsilk,PapayaWhip);
}




/* Tooltip text */
.tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
 
  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.items2:hover .tooltiptext {
  visibility: visible;
}



.row1{
	display:flex;
	flex-direction:row;
}

.box1{
	margin:1%;
	flex-grow:1;
	order:0;
}

.box2{
	margin:1%;
	margin-left:3%;
	flex-grow:2;
	order:1;
}

table {
  width: 100%;
  border-radius:5px;
  border-collapse: collapse;
}

td, th {
  text-align: center;
}

option{
	font-size:.5rem;
}

table, td{
  border: 1px solid gray;
  padding:5px;
  font-size:.7rem;
  background-color:white;
}

.product_table th{
  border: 1px solid gray;
  padding:5px;
  font-size:.6rem;
  background-color:teal;
}

.amount_table th{
  border: 1px solid teal;
  padding:5px;
  font-size:1rem;
  background-color:teal;
}

select{
	margin-bottom:5px;
	font-size:.5rem;
	color:gray;
}

th{
	background-color:teal;
	color:white;
}

form{
	font-size:1.2rem;
}

.links{
    background:#f2f2f2;
    color:#616161;
    font-size:1.2rem;
    padding:35px 0;
	text-decoration:none;
	
}

.sw_foot{
	color:white;
	cursor:pointer;
	font-size:1.2rem;
	font-weight:bold;
	text-shadow:1px 1px 2px lavender,1px 1px 1px silver;
}

.btn1{
	background:RoyalBlue;
	color:white;
	border:0;
	font-size:1.1rem;
	padding:10px;
	border-radius:10px;
	margin-left:1px;
    text-decoration:none;
}

.btn1_blk{
	font-size:1.1rem;
	background:rgb(18,20,22);
	padding:10px;
	color:white;
	cursor:pointer;
	border:0;
	box-shadow:2px 4px 6px black;
	border-radius:10px;
    text-decoration:none;
}

.btn1_blk:hover{
	background:AliceBlue;
	color:RoyalBlue;
	border:0;
	font-size:1.1rem;
	padding:10px;
	border-radius:10px;
	margin-left:1px;

}

.btn1:hover{
	font-size:1.1rem;
	background:AliceBlue;
	padding:9px;
	color:RoyalBlue;
	cursor:pointer;
	border:1px solid lightgray;
	box-shadow:2px 4px 6px black;
}

.btn2{
	background:yellow;
	color:black;
	border:0;
	font-size:1.1rem;
	padding:10px;
	border-radius:10px;
	margin-left:1px;
    text-decoration:none;
}

.btn2:hover{
	background:white;
	color:DarkOrange;
	cursor:pointer;
	padding:9px;
	border:1px solid lightgray;
	box-shadow:2px 4px 6px black;
}

.btn3{
	background:OrangeRed;
	color:white;
	border:0;
	font-size:1.1rem;
	padding:10px;
	border-radius:10px;
	margin-left:1px;
	margin-top:2px;
    text-decoration:none;
}

.btn3:hover{
	font-size:1.1rem;
	background:AntiqueWhite;
	padding:9px;
	color:OrangeRed;
	cursor:pointer;
	border:1px solid lightgray;
	box-shadow:2px 4px 6px black;
}

.btn4{
	background:green;
	color:white;
	border:0;
	font-size:1.1rem;
	padding:10px;
	border-radius:10px;
	margin-left:1px;
}

.btn4:hover{
	font-size:1.1rem;
	background:white;
	padding:9px;
	color:green;
	cursor:pointer;
	border:1px solid lightgray;
	box-shadow:2px 4px 6px black;
}

.box1{
	border:1px solid lightgray;
	border-radius:10px;
	padding:10px;
	color:black;
}

input{
	font-size:1.1rem;
}

textarea{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size:1.1rem;
    letter-spacing: 0px;
    border-radius:5px;
}

.row2{
	justify-content:center;
	display: flex;
  	flex-direction: row;
  	align-items: flex-end;
	width:90%;
}

.post_row2{
	justify-content:center;
	display: flex;
  	flex-direction: row;
  	align-items: flex-end;
	width:90%;
	margin-bottom:40px;
	margin-top:20px;
}

.box3{
	border:1px solid lightgray;
	border-radius:10px;
	padding:10px;
	color:rgba(0,0,0,.8);
	margin:5px;
	background:linear-gradient(to left,Lavender,white,Lavender);
	box-shadow:2px 4px 6px black;
}

.row2 input, textarea{
	font-size:.5rem;
}



.tableleft{
	margin-left:40px;
}

.navbar{
			width: 100%;
			height: 60px;
			background-color:MidnightBlue;
			position:fixed;
			top:0px;
			left:0px;
			right:0px;
			text-align:center;
			box-shadow:2px 4px 6px black;
			z-index:3;
}

.navbar ul{
	margin-left:-50px;
}

.navbar li{
	display:inline-block;
	line-height:10px;
}

.navlinks{
	color:white;
	text-decoration:none;
	padding:8px 10px 8px 15px;
	border-left:1px solid DarkSlateGray;
	font-size:1.1rem;
	cursor:pointer;
}

.navlinks_active{
	color:white;
	text-decoration:none;
	padding:8px 10px 8px 15px;
	text-shadow: 1px 1px 2px lavender,1px 1px 1px silver;
	border-left:1px solid DarkSlateGray;
	font-weight:bold;
	font-size:1.2rem;
	font-style:italic;
	cursor:pointer;
}

.navlinks:hover{
	font-weight:bold;
	text-shadow: 1px 1px 1px lavender,1px 1px 1px silver;
	font-size:1rem;
	padding:10px 9px 9px 17px;
	cursor:pointer;
}

.navlinks_first_active{
	color:white;
	text-decoration:none;
	padding:8px 10px 8px 15px;
	text-shadow: 1px 1px 2px lavender,1px 1px 1px silver;
	font-weight:bold;
	font-size:1.2rem;
	font-style:italic;
	cursor:pointer;
}

.navlinks_first{
	color:white;
	text-decoration:none;
	padding:8px 10px 8px 15px;
	font-size:1.1rem;
	cursor:pointer;
}

.navlinks_first:hover{
	font-weight:bold;
	text-shadow: 1px 1px 1px lavender,1px 1px 1px silver;
	font-size:1rem;
	padding:10px 9px 9px 17px;
	
}

.logo{
	width:30px;
	height:30px;
	cursor:pointer;
}

footer{
			width: 100%;
			height: 70px;
			background-color:rgb(18,20,22);
			position:fixed;
			bottom:0px;
			left:0px;
			right:0px;
			text-align:center;
}

footer ul{
	margin-left:-150px;
	background-color:rgb(18,20,22);
}

footer li{
	display:inline-block;
	line-height:10px;
	
}

.footlinks{
	color:white;
	text-decoration:none;
	padding:8px 10px 8px 15px;
	border-left:1px solid DarkSlateGray;
	font-size:1.1rem;
	font-weight:lighter;
}

.footlinks_first{
	color:white;
	text-decoration:none;
	padding:8px 10px 8px 15px;
	font-size:1.1rem;
	font-weight:lighter;
}



.user_info_left{
			width: 200px;
			height: 50px;
			background-color:rgb(18,20,22);
			position:fixed;
			top:80px;
			left:0px;
			text-align:center;
			box-shadow:2px 4px 6px black;
			z-index:3;
}

.user_info_left li{
	display:inline-block;
	line-height:10px;
	
}

.user_info_left ul{
	margin-left:-50px;
}

.user_info_right ul{
	list-style:none;
}

.user_info_right li{
	line-height:10px;
}

.userinfo{
	color:white;
	text-decoration:none;
	padding:0 5px 5px 15px;
	font-size:.9rem;
	font-weight:lighter;
}

.user_info_right{
			width: 370px;
			height: 50px;
			background-color:rgb(18,20,22);
			position:fixed;
			top:80px;
			right:0px;
			text-align:right;
			box-shadow:2px 4px 6px black;
			z-index:3;
}

.logout{
	z-index:4;
	width:30px;
	height:30px;
	cursor:pointer;
	float: right;
	margin-left:10px;
}

.showcase_win{
	background-image:url('./img/win.png');
    min-height:100%;
	position:fixed;
    background-position:center;
    background-size:cover;
    background-repeat:no-repeat;
    background-attachment: fixed;
	width:100vw;
	height:63vh;
}

.showcase_mac{
	background-image:url('./img/mac.png');
    min-height:100%;
	position:fixed;
    background-position:center;
    background-size:cover;
    background-repeat:no-repeat;
    background-attachment: fixed;
	width:100vw;
	height:63vh;
}

.showcase_lin{
	background-image:url('./img/lin.png');
    min-height:100%;
	position:fixed;
    background-position:center;
    background-size:cover;
    background-repeat:no-repeat;
    background-attachment: fixed;
	width:100vw;
	height:63vh;
}

.role_table th{
  border: 1px solid gray;
  padding:5px;
  font-size:.6rem;
  background-color:teal;
  z-index:5;
}

#ani_box{
	display:none;
    position:fixed;
	left:75%;
	bottom:25px;
    background:DarkGreen;
    width:0px;
    height:15px;
    animation-name:myanimation;
    animation-duration:2s;
    animation-iteration-count: infinite;
    animation-timing-function:ease-in-out;
    animation-fill-mode: forwards;
	display:block;
}

@keyframes myanimation{
    0% {background:DarkGreen;width:0px;}
    10% {width:30px;}
    20% {width:40px;}
    30% {width:70px;}
    30% {width:90px;}
    40% {width:120px;}
    45% {background:Lime;width:140px;}
    50% {width:120px;}
    60% {width:90px;}
    70% {width:70px;}
    80% {width:40px;}
    90% {width:30px;}
    100% {background:DarkGreen;width:0px;}
}

.img_box{
	width:100px;
	height:100px;
	margin:10px;
	cursor:pointer;
	transition: scale 1s ease-in-out;
	border-radius:5px;
	box-shadow:darkgray 2px 2px 2px;
}

.img_box_reply{
	width:80px;
	height:80px;
	margin:10px;
	cursor:pointer;
	transition: scale 1s ease-in-out;
	border-radius:5px;
	box-shadow:darkgray 2px 2px 2px;
	}
	
.img_box_reply:hover{
	transform: scale(2.5);
	transition:transform 0.5s ease 0.01s;
	box-shadow:black 5px 5px 5px;
	}

.img_box:hover{
	transform: scale(2);
	transition:transform 0.5s ease 0.01s;
	box-shadow:black 5px 5px 5px;
}

.blog_icon, .blog_icon2, .blog_icon_left{
	width:20px;
	height:20px;
	cursor:pointer;
	margin-left:5px;
	margin-right:5px;
	float:right;
	position:relative;
}

.blog_icon_left_div{
	float:left;
	position:relative;
}

.blog_icon_left{
	float:left;
}

.blog_icon2{
	width:15px;
	height:15px;
}

.blog_icon_reply{
	width:30px;
	height:30px;
	cursor:pointer;
	margin-left:5px;
	margin-right:5px;
}

@media(min-width:1024px){
	.row2 input, textarea{
	font-size:1.1rem;
}

	.row2{
		margin-left:40px;
		width:95%;
	}
	
	table, td {
  border: 1px solid gray;
  padding:5px;
  font-size:.9rem;
  
}

.product_table th{
  border: 1px solid gray;
  padding:5px;
  font-size:1.1rem;
  background-color:teal;
}

.role_table th{
  border: 1px solid gray;
  padding:5px;
  font-size:1.1rem;
  background-color:teal;
  z-index:5;
}

.amount_table th{
  border: 1px solid teal;
  padding:5px;
  font-size:1.2rem;
  background-color:teal;
}

option{
	font-size:1.1rem;
}

select{
	font-size:1.1rem;
}

.tableleft{
	margin-left:20px;
}



}

@media(max-width:768px){

	

	.btn1, .btn1:hover, .btn2, .btn2:hover, .btn3, .btn3:hover, .btn4, .btn4:hover{
	font-size:.6rem;
	}
	
	.row2{
		margin-left:30px;
	}
	
	.tableleft{
		margin-left:20px;
	}
	
.navlinks, .navlinks_first, .footlinks, .footlinks_first{
	font-size:.5rem;
	padding:5px 3px 5px 8px;
}

.navlinks_active{
	font-size:.6rem;
	padding:5px 3px 5px 8px;
	font-style:italic;
}

.navlinks:hover, .navlinks_first:hover{
	font-size:.5rem;
	padding:3px 2px 3px 6px;
}

.navlinks_first_active{
	font-size:.6rem;
}
.navbar, footer{
	height: 75px;
}



.userinfo{
	font-size:.4rem;
}

.user_info_left{
	width:120px;
}

.user_info_right{
			width: 150px;
			}
			
.logout{
	width:20px;
	height:20px;
}

}



/* ----------------- MODAL */




.modal{
    display:none;
    position:fixed;
    z-index:1;
    left:0;
    top:0;
    height:100%;
    width:100%;
    overflow:auto;
    background-color:rgba(0,0,0,0.5);
}

.modal-content{
    background-color:#f4f4f4;
    margin:20% auto;
    /*width:400px;*/
    width:70%;
    box-shadow:0 5px 8px 0 rgba(0,0,0,0.2), 0 7px 20px 0 rgba(0,0,0,0.17);
    animation-name:modalopen;
    animation-duration:1s;
    font-family: 'Raleway', sans-serif;
}

.modal-header{
    background:MidnightBlue;
    text-align:center;
    padding:15px;
    color:white;
}

.modal-header h2, .modal-footer h3{
    margin:0;
}

.modal-body{
    padding:10px 20px;
}

.modal-footer{
    background:rgb(24,146,0);
    padding:10px;
    color:white;
    text-align:center;
    margin:0;
}

.closeBtn{
    color:white;
    float:right;
    font-size:40px;
}

.closeBtn:hover,.closeBtn:focus{
    color:black;
    cursor:pointer;
}

.modal_cont_col{
    display:flex;
    flex-direction:column;
    justify-content:space-evenly;
}

.modal_cont_row{
    display:flex;
    flex-direction:row;
    justify-content:space-evenly;
}

.modal_box{
    margin:10px;
}

.modal_img{
    width:100px;
    height:70%;
}

@keyframes modalopen{
    from{opacity:0}
    to{opacity:1}
}

/* ----------------- MODAL */

.buy_cart{
    top:35%;
	right:-70%;
	width:12%;
	height:12%;
	z-index:5;
	position:fixed;
    cursor:pointer;
    display:block;
    animation-name:myanimation2;
    animation-duration:7s;
    animation-iteration-count: unset;
    animation-timing-function:ease in-out;
}

@keyframes myanimation2{
    0%{right:-70%; transform: rotateY(180deg);}
    25%{right:20%;}
    30%{transform: rotateZ(-35deg);}
    32%{transform: rotateZ(35deg);}
    34%{transform: rotateZ(-30deg);}
    36%{transform: rotateZ(30deg);}
    38%{transform: rotateZ(-25deg);}
    40%{transform: rotateZ(25deg);}
    42%{transform: rotateZ(-20deg);}
    44%{transform: rotateZ(20deg);}
    46%{transform: rotateZ(-15deg);}
    48%{transform: rotateZ(15deg);}
    50%{transform: rotateZ(0deg);transform: scale(1.2);}
    85%{transform: rotateZ(0deg);transform: scale(1);}
    90%{right:20%}
    100%{right:-70%; transform: rotateY(180deg);}
}















